Data Science Tools and Ecosystem

Introduction: In this notebook, Data Science Tools and Ecosystem are summarized

Data Science Languages: [Python,R,Scala]

Data Science Liabraries: Numpy, Pandas, Matplotlib

Data Science Tools
_____________________________________
Data Management Tools: MySQL, PostgreSQL
______________________________________
Data Integration and Management Tools: Informatica,, Infosphere
______________________________________
Data Visualization: Datameer, IBM cognos analytics

Below are few examples of evaluating arithematic expressions in Python

In [8]:
#This is a simple arithematic
a=(3*4)+5
print(a)

17

In [10]:
#This will convert 200 minutes to hours by dividing by 60
m=200
result=200/60
print(result)

3.3333333333333335

Objectives: Popular languages-[Python, R , Scala]
Liabraries: Numpy, Pandas, Matplotlib

Author
name-Riya Jangid